@charset "utf-8";
#commgame dl {
	margin: 5px;
	width: 235px;
	height: 180px;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	clear: both;
}
#commgame dl dt {
	display: block;
	text-align: center;
	height: 120px;
	overflow: hidden;
}
#commgame dl dt img {
	padding: 2px;
	width: 150px;
	border: 1px solid #CCC;
	margin: 2px;
}
#commgame dl dd {
	line-height: 25px;
	height: 25px;
	width: 150px;
	overflow: hidden;
    text-align: center;
	
}
#commgame dl dd a {
	font-size: 12px;
	font-weight: bold;
	color: #06F;
}

#commgame dl dd a:hover {
	color: #F30;
	text-decoration: underline;
}

#commgame dl dd em {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #F00;
	font-family: "Arial Black", Gadget, sans-serif;
 
}


#listfl {
	margin-bottom: 5px;
	border: 1px solid #A1D4F3;
}
#listfl h3 {
	background-image: url('images/bg.jpg');
	background-position: left -123px;
	background-repeat: repeat-x;
	line-height: 30px;
	color: #06C;
	text-indent: 10px;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
#listfl ul {
	margin: 10px;
	padding: 0px;
}
#listfl ul li {
	font-size: 14px;
	background-image: url('images/bg.jpg');
	background-repeat: repeat-x;
	background-position: left -352px;
	line-height: 30px;
	height: 30px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	margin: 5px;
	border: 1px solid #CCC;
}
#listfl ul li b {
	font-size: 12px;
	color: #F00;
}



#commgame {
	border: 1px solid #8CC6FF;
	margin-bottom: 5px;
}
#commgame h3 {
	font-size: 13px;
	line-height: 33px;
	text-indent: 10px;
	background-image: url('images/bg.jpg');
	background-repeat: repeat-x;
	background-position: left -60px;
	color: #06F;
}
/* CSS Document */

#content{
	width:980px;
	overflow: hidden;
}

#content_left {
	width:725px;
	margin-left:1px;
	float:right;
	margin-top:5px;
	display:inline;
	border:#8CC6FF 1px solid;
	overflow:hidden;
}
#content_left_title1 {
	width:725px;
	height:23px;
	text-indent:20px;
	color:#FFF;
	font-weight:bold;
	line-height:23px;
	background-image: url('images/bg.jpg');
	background-repeat: repeat-x;
	background-position: left -581px;
}
#content_left #fenye{
    float:left;
    width:700px;
    white-space:nowrap; 
    margin-right:10px;
    margin-bottom:5px;
}
#content_con1 { width:725px; padding:1px; }
#content_con1 p{ margin:0px; padding:0px; line-height:2em; }
#content_imges_n{float:left;MARGIN: 7px 5px 0px 3px; WIDTH: 130px; 
}
#content_imges_n a{ text-decoration:none;}
#imges_n{FLOAT: left;padding:2px;border:1px solid #CCC; background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center bottom;
	 height:91px; width:130px;
	 position:relative;
	 }

#zi{
	text-align:center;
	overflow:hidden;
	position: absolute;
	clip: rect(auto,auto,auto,auto);
	width: 129px;
	display: block;
    z-index:1;
	bottom:1%;
	float:left;
} 
#zi a {
	color: #FFF;
	text-decoration: none;
}
#zi #opa { z-index:-1; width:130px; height:20px; top:0; left:0; background:#000; filter:alpha(opacity=50); opacity:0.6; text-decoration:none; position:absolute;}


#back{
	height:25px;
	padding:0px;
	font-weight:bold;
	text-indent:10px;
	line-height:25px;
	overflow:hidden;
	border-bottom: 1px solid #c5dff6;
	margin: 0px;
}

.List_like{
	width:219px;
	float:left;
	overflow:hidden;
	display:inline;
	border: 1px solid #c5dff6;
	height: 200px;
	margin: 5px;
	padding:5px;
	
 
}
#list_img{
	width:170px;
	height:140px;
	padding:0px;
	overflow:hidden;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
#list_img img{width:170px; height:140px;}
#list_text{
	overflow:hidden;
	clear:both;
	width: 215px;
	height: 25px;
	line-height: 25px;
	text-align: center;

}
 

 
#list_text a{
	color:#06F;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
	font-family: "微软雅黑", "宋体";
}
#list_text a:hover{ color:#FF0000; text-decoration:underline;}
 
#list_shuxing{
	overflow:hidden;
	line-height:30px;
	height:30px;
	font-size: 12px;
	padding-left:10px;
	color:#999;
}
#list_shuxing em{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #390;
	font-weight: bold;
	float:right;
	padding-right:5px;
	font-size:14px;
}

#list_shuxing b{
	color: #06C;
	font-weight: normal;
}
 
 

#content_right{width:247px; float:left;margin-right:2px; margin-top:5px;  overflow:hidden;}
#right1{  border:1px solid #49a9d3; margin-bottom:5px;}



.showPage{
clear:both;
line-height: 40px;
	height: 40px;
	text-indent: 5px;
	margin:5px;
}

.showPage a {text-decoration:none;
color:#666;}
#back a {
	color: #333;
	text-decoration: none;
}
#content_left_title1 h1 {
	font-size: 16px;
	clear: both;
	line-height: 23px;
	margin:0px;
}
#imges_n a img {
	height: 91px;
	width: 126px;
}
.con1_neirong2_img a img {
	width: 109px;
}