#poster{
  position: fixed;
  z-index: 999;
  left:5px;
  bottom:-200px;
  width:360px;
  height:200px;
  border:1px solid #ababab;
  background-color:white;
}
.post-title{
  display: inline-block;
  height: 40px;
  width:100%; 
  line-height: 60px;
  background:url("http://www.dzjinxinge.com/Content/images/tao.png")no-repeat left;  
  background-color: #fe4500;
}
.post-title span{
  display: inline-block;
  height:40px;
  line-height: 40px;
  font-size:15px;
  color:white;
  width:auto;
  margin-left:80px;
}
.post-title a{
  display: inline-block;
  height:11px;
  width:11px;
  margin-right:10px;
  margin-top:15px;
  text-decoration: none;
  background:url("http://www.dzjinxinge.com/Content/images/close.png") no-repeat left;
  float:right;
}
